/*
  Id use #
  Class use .
*/



body {
  background-color: #ff6666;
  color: #ffffff;
}

#panel-robot {
  margin-top: 150px;
  margin-left: -10px;
}
#panel-setting {
  margin-top: -520px;
  margin-left: 20px;
}
#panel-light {
  margin-top: -490px;
  margin-left: 130px;
}
#panel-tune {
  margin-top: -370px;
  margin-left: 200px;
}

#panel-logo {
  margin-top: 0px;
  margin-left: -50px;
}
#panel-switch {
  margin-top: -20px;
  margin-left: -10px;
}
#panel-timer {
  margin-top: 45px;
  margin-left: -10px;
  font-size: 40px;
  font-style: bold;
}
#time-set {
  margin-top: 15px;
  margin-left: -10px;
}

#panel-power {
  margin-top: 120px;
}
#panel-room {
  margin-top: 20px;
}
#panel-power-detail {
  margin-top: -550px;
  color: #155115;
  font-size: 32px;
  font-style: italic;
}
